@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@250;350;450&display=swap');
@import "tailwindcss";

/* Apply font to body */
body {
  font-family:  "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

:root{
  --color-primary : #000;
  -color-secondary:#8b2727;
  --color-accent: #d2af6f;
}
::selection{
  background-color: #000;
  color: white;
}
/* clerk user button styling */
.cl-avatarBox{
    width: 2.5rem;
    height: 2.5rem;
}
