@import "tailwindcss";
:root{
  --color-primary : #000;
  -color-secondary:#8b2727;
  --color-accent: #d2af6f;
}
::selection{
  background-color: #8b2727;
  color: white;
}
/* clerk user button styling */
.cl-avatarBox{
    width: 2.5rem;
    height: 2.5rem;
}
